### Import Dependencies

In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

### Reflect Tables into SQLAlchemy ORM

In [12]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [13]:
engine = create_engine("sqlite:///Instructions/Resources/hawaii.sqlite")

In [14]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [15]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [16]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [17]:
# Create our session (link) from Python to the DB
session = Session(engine)

### Exploratory Climate Analysis

In [26]:
# viewing column names

inspector = inspect(engine)
inspector.get_table_names()
columns_measurement = inspector.get_columns('measurement')
columns_station = inspector.get_columns('station')

print("MEASUREMENT COLUMNS")
print('___________________')   
for column in columns_measurement:    
    print(column["name"], column["type"])
print('')   
print("STATION COLUMNS")
print('_______________')   
for column in columns_station:   
    print(column["name"], column["type"])

MEASUREMENT COLUMNS
___________________
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

STATION COLUMNS
_______________
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [87]:
# viewing last observations in Measurement

measurements = session.query(Measurement)

for reading in measurements:
    if reading.id > 19540:
        print(reading.id, reading.station, reading.date, reading.prcp, reading.tobs)

print('')

# Identify Last Date, so you can find 1 year earlier

results = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp,Measurement.tobs).\
    order_by(Measurement.date.desc()).all()

last_year = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp,Measurement.tobs).\
    filter(Measurement.date > '2016-08-23').\
    order_by(Measurement.date).all()

first_measure = [result[0:5] for result in last_year[:1]]
last_day_measure = [result[0:5] for result in results[:1]]


last_date = [result[2] for result in results[:1]]
first_date  = [date[2] for date in last_year[:1]]
print(f'First Measurement: {first_measure}')
print(f'Final Measurement: {last_day_measure}')
print(f'First Date: {first_date}')
print(f'Last Date: {last_date}')

19541 USC00516128 2017-08-14 0.22 79.0
19542 USC00516128 2017-08-15 0.42 70.0
19543 USC00516128 2017-08-16 0.42 71.0
19544 USC00516128 2017-08-17 0.13 72.0
19545 USC00516128 2017-08-18 None 76.0
19546 USC00516128 2017-08-19 0.09 71.0
19547 USC00516128 2017-08-20 None 78.0
19548 USC00516128 2017-08-21 0.56 76.0
19549 USC00516128 2017-08-22 0.5 76.0
19550 USC00516128 2017-08-23 0.45 76.0

First Measurement: [(2365, 'USC00519397', '2016-08-24', 0.08, 79.0)]
Final Measurement: [(2724, 'USC00519397', '2017-08-23', 0.0, 81.0)]
First Date: ['2016-08-24']
Last Date: ['2017-08-23']

In [ ]:
last_day = cast(last_date AS DATE)

In [ ]:
# Calculate the date 1 year ago from the last data point in the database

In [65]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results


    



# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

Final Measurement: [(2724, 'USC00519397', '2017-08-23', 0.0, 81.0)]
Last Date: ['2017-08-23']

In [21]:
columns = inspector.get_columns('measurement')
print(columns)
# for column in columns:
  #  print(column["name"], column["type"])

[{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}, {'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
### Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`